body{
	margin:0;
	padding:0;
	background-color: #F3F2F2;
}
/*Liens*/
a{
	text-decoration: none;
	color:black;
	font-weight: bold;
}
#logo{
	width: 400px;
	height: 200px;
	margin-left: 35%;
}
/*Div*/
#information{
	margin-top: 5%;
	margin-left: 40%;
	border:solid #CFCDCB 1px;
	width: 20%;
	text-align: center;
	background-color: #F1F0F0;
}
#deja{
	margin-top: 1%;
	margin-left: 40%;
	border:solid #CFCDCB 1px;
	width: 20%;
	text-align: center;
	background-color: #F1F0F0;
}
/*Bouton/zone à remplire*/
input{
	border:solid #CFCDCB 1px;
	background-color: #EEEBE8;
}
#bouton{
	margin-left: 4%;
	background-color: #4107CA;
	border: none;
	border-radius: 5px;
	color:white;
}
/*Paragraphes*/
#Conditions{
	text-align: center;
	color:;
}